* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: none;
}

.cabecalho {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    background-color: rgb(0, 144, 140);
    font-weight: bold;
    font-style: italic;
    font-size: larger;

}

.cabecalho-imagem {
    
}

.cabecalho-menu {
    display: flex;
    gap: 50px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
}

.conteudo {
    margin-bottom: 48px;
    
}


.conteudo-principal-imagem {
    width: 100%;
    
    
}